#home {
  font-style: italic;
  background-image: url("../images/home_nav.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#team_text {
  font-style: oblique;
}
