<p>
  Date : <span class="clock-date"></span>
</p>

<p>
   Time: <span class="clock-time"></span>
</p>

<div id="distressconfirm">Hello, Team Orange!</div>

<p style="padding-left:170px"> Distress Signal</p>
