<h1>Made by:</h1>
<ul>
    <li>Jeremy</li>
<<<<<<< ca927ffab46dbea0634fd66c95edd2b92abe332a
    <li>Jessica</li>
=======
    <li>Michelle Leman</li>
>>>>>>> [initial][michelle leman/michelle+rosie] check-in dance initial commit
</ul>
